.footer {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0px;
  margin: 0px 20px;
}

.footer-gen {
    text-align: right;
    float: right;
}

.footer-copyright {
    text-align: left;
    float: left;
}


.page-heading {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}

/*Post*/
.post {
  margin-bottom: 30px;
}

.post-header {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.post-meta {
  margin-bottom: 0;
}

.post-title {
  font-size: 28px;
  margin-top: 0;
}

.post-excerpt {
    font-size: 18px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}

.content {
    font-size: 20px;
}

img {
    margin: auto;
    display: block;
    width: 668px;
}
